/*

====================================================
                Общие стили
====================================================

*/

body {
    font-family: 'Open Sans', 'Open Sans Condensed', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    color: #8b9297;
}

.container {
    min-width: 480px;
    max-width: 1200px;
}

h1 {
    font-size: 38px;
    font-weight: 300;
    color: #505961;
}

h2 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px;
    line-height: 48px;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    color: #57cbf4;
}

p {
    color: #fff;
}

span {
    color: #fff;
}


/* 
------------------------------------
            Стили для кнопок
------------------------------------
*/


/*
------------------------------------
            Clearfix
------------------------------------
*/

.clearfix:before,
.clearfix:after {
    display: table;
    content: '';
}

.clearfix:after {
    clear: both;
}


/*
------------------------------------
            Promo
------------------------------------
*/

.promo {
    padding-top: 227px;
    background: #b7b7b7 url('../img/promo.jpg') no-repeat top center;
}

.promo-block {
    max-width: 540px;
    min-height: 236px;
    margin-bottom: 251px;
    padding: 17px 16px;
    border-bottom: 4px solid #72d0f4;
    background: #8dc6dc;
}

.promo-block h1 {
    font-family: 'Open Sans Condensed';
    font-size: 48px;
    line-height: 48px;
    margin: 0 0 7px 0;
    text-transform: uppercase;
    color: #fefefe;
    text-shadow: 1px 1px 3px #8b9297;
}

.promo-block h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 24px;
    margin: 0 0 5px 0;
    text-align: left;
    text-transform: uppercase;
    color: #fff;
}

.promo-block p {
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    margin: 0 0 15px 0;
    color: #fff;
}

.link {
    font-size: 12px;
    display: block;
    margin: 0 auto;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #e7f3f8;
    border-radius: 3px;
}

.link:hover {
    text-decoration: none;
    color: #72d0f4;
    background: #fff;
}

.link:active {
    text-decoration: none;
    background: #f2f2f2;
}

.promo-block .link {
    width: 141px;
}

.arrow-down {
    position: relative;
    display: block;
    width: 200px;
    height: 37px;
    margin: 0 auto;
    margin-bottom: 48px;
}

.arrow-down::before {
    position: absolute;
    bottom: 18px;
    left: -17px;
    display: block;
    width: 106px;
    height: 2px;
    content: '';
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
    background: #72d0f4;
}

.arrow-down::after {
    position: absolute;
    bottom: 18px;
    left: 82px;
    display: block;
    width: 107px;
    height: 2px;
    content: '';
    -webkit-transform: rotate(160deg);
            transform: rotate(160deg);
    background: #72d0f4;
}


/*
------------------------------------
            Header
------------------------------------
*/

.header-top {
    padding: 5px 0;
    background: #00bff0;
}

.phone-number {
    font-size: 12px;
    line-height: 22px;
    padding-left: 16px;
}

.phone-number i {
    font-size: 16px;
    margin-right: 10px;
    vertical-align: middle;
}

.social {
    text-align: right;
}

.social i {
    margin-right: 12px;
    color: #fff;
}

.header-bottom {
    position: relative;
    padding: 31px 0;
    background: #72d0f4;
}

.logo {
    padding-left: 11px;
}

.navigation ul {
    margin: 0;
}

.navigation li {
    font-size: 13px;
    position: relative;
    display: inline-block;
    margin-right: 4px;
    vertical-align: middle;
    text-transform: uppercase;
}

.navigation a {
    display: block;
    padding: 4px 24px;
    text-decoration: none;
    color: #fff;
    border-radius: 2px;
}

.navigation a:hover {
    position: relative;
    padding: 3px 23px;
    border: 1px solid #fff;
}

.navigation-slide ul {
    position: absolute;
    z-index: 10;
    top: 75px;
    left: 0;
    width: 100%;
    padding: 0 15px 15px 15px;
    background: #72d0f4;
}

.navigation-slide li {
    width: 50%;
    margin: 0 auto;
    list-style-type: none;
    text-align: center;
}

.navigation-slide a {
    display: block;
    padding: 10px 23px;
    text-decoration: none;
    color: #fff;
    border-radius: 30px;
}

.navigation-slide a:hover {
    padding: 9px 23px;
    color: #72d0f4;
    border: 1px solid #fff;
    border-radius: 2px;
    background: #fff;
}

i.fa-bars {
    font-size: 20px;
    margin: 0;
    color: #fff;
}

i.fa-bars:hover {
    color: #fff;
}

.btn {
    font-size: 13px;
    font-weight: 300;
    height: 38px;
    padding: 3px 30px;
    text-transform: uppercase;
    color: #fff;
    border-radius: 2px;
    background: none;
}

.btn:hover,
.btn:focus {
    color: #72d0f4;
    color: #fff;
    border: 1px solid #fff;
    box-shadow: none;
}

.btn-group.open .dropdown-toggle {
    color: #72d0f4;
    background: #fff;
    box-shadow: none;
    ;
}

.dropdown-menu {
    top: 45px;
    width: 200px;
    padding: 5px;
}

.dropdown-menu li {
    width: 100%;
}

.dropdown-menu li a {
    padding: 6px 20px;
    color: #72d0f4;
    border: none;
}

.dropdown-menu li a:hover {
    padding: 6px 20px;
    color: #fff;
    border: none;
    background: #72d0f4;
}

.btn:hover::before {
    font-family: fontawesome;
    position: absolute;
    left: 10px;
    content: '\f105';
}

.open > .btn::before {
    font-family: fontawesome;
    position: absolute;
    left: 6px;
    content: '\f107';
}


/*
------------------------------------
            Content
------------------------------------
*/

.content {
    background: #f3f3f3;
}

.info-img {
    height: 300px;
    background: url('../img/info-small.jpg') no-repeat center;
}

.info-descr {
    padding-top: 120px;
}

.info-descr h1 {
    font-weight: 300;
    margin-top: 0;
}

.info-descr p {
    font-size: 16px;
    line-height: 24px;
    color: #8b9297;
}

.live-block {
    padding-bottom: 65px;
}

.live-item {
    max-width: 400px;
    margin: 0 auto;
}

.live-name {
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    padding: 16px;
    text-transform: uppercase;
    background: #72d0f4;
}

.live-it {
    font-weight: 300;
    font-style: italic;
}

.live-room {
    font-size: 11px;
}

.live-img {
    border-bottom: 4px solid #00bff0;
    background: #b7b7b7;
}

.live-img img {
    width: 100%;
    max-width: 400px;
    max-height: 210px;
}

.classes-prices {
    padding-bottom: 71px;
}

.classes-prices h2 {
    margin-bottom: 10px;
}

.classes {
    position: relative;
    padding: 0 30px 18px 30px;
    background: #72d0f4;
}

.classes::after {
    position: absolute;
    top: 35px;
    left: 50%;
    display: block;
    width: 1px;
    height: 180px;
    content: '';
    background: #a9ddf1;
}

.classes table {
    font-size: 14px;
    width: 330px;
    text-transform: uppercase;
    color: #fff;
    background: #72d0f4;
}

.classes tr {
    display: block;
    padding: 20px 0 8px 0;
    border-bottom: 1px solid #c4ebfa;
}

.classes tr:first-child {
    padding-top: 15px;
}

.td-left {
    width: 200px;
}

.td-left i {
    font-size: 17px;
    margin-right: 12px;
}

.td-right {
    width: 130px;
    text-align: right;
}

i.fa-share {
    margin-right: 0;
}

.td-right a {
    margin-right: 20px;
    color: #fff;
}

.td-right a:last-child {
    margin-right: 0;
}

a.hover-info {
    position: relative;
    display: inline-block;
}

.timetible,
.send,
.like,
.share {
    font-size: 13px;
    line-height: 15.6px;
    position: absolute;
    z-index: 10;
    top: -32px;
    left: 0;
    display: none;
    width: 106px;
    height: 23px;
    padding: 5px;
    text-align: center;
    color: #72d0f4;
    border-radius: 1px;
    background: #fff;
}

a.hover-info:hover {
    text-decoration: none;
    color: #fff;
}

a.hover-info:hover .timetible,
a.hover-info:hover .send,
a.hover-info:hover .like,
a.hover-info:hover .share {
    display: block;
}

a.hover-info::before {
    position: absolute;
    top: -9px;
    left: 5px;
    display: none;
    width: 0;
    height: 0;
    content: '';
    border-top: 5px solid #fff;
    border-right: 3px solid transparent;
    border-left: 3px solid transparent;
}

a.hover-info:hover::before {
    display: block;
}

.prices-block {
    min-height: 250px;
    padding: 50px 10px 27px 10px;
    color: #fff;
    background: #00bff0;
}

.prices-block h4 {
    text-transform: uppercase;
}

.italic {
    font-weight: 300;
    font-style: italic;
    color: #57cbf4;
}

.prices-block p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
}

.prices-block .link {
    width: 84px;
}

.trainers-events-blog {
    padding-bottom: 71px;
}

.trainers-events-blog h2 {
    margin-bottom: 10px;
}

.trainers-block {
    position: relative;
    min-height: 250px;
    padding: 35px 25px 20px 25px;
    color: #000;
    background: #fff;
}

.trainers-block::before {
    position: absolute;
    top: 31px;
    left: 50%;
    display: block;
    width: 1px;
    height: 180px;
    content: '';
    background: #a9ddf1;
}

.trainers-item {
    position: relative;
    float: left;
    max-width: 130px;
    min-height: 195px;
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
}

.trainers-item:last-child {
    float: right;
    margin-right: 0;
    margin-left: 0;
}

.trainers .arrow-left,
.trainers .arrow-right {
    width: 30px;
    height: 50px;
    background: none;
}

.trainers .arrow-left {
    position: absolute;
    top: 38%;
    left: 0;
}

.trainers .arrow-right {
    position: absolute;
    top: 38%;
    right: 0;
}

.trainers .arrow-left::before {
    position: absolute;
    top: 16px;
    left: 3px;
    display: block;
    width: 25px;
    height: 1px;
    content: '';
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    background: #00bff0;
}

.trainers .arrow-left::after {
    position: absolute;
    top: 33px;
    left: 3px;
    display: block;
    width: 25px;
    height: 1px;
    content: '';
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    background: #00bff0;
}

.trainers .arrow-right::before {
    position: absolute;
    top: 16px;
    left: 4px;
    display: block;
    width: 25px;
    height: 1px;
    content: '';
    -webkit-transform: rotate(-136deg);
            transform: rotate(-136deg);
    background: #00bff0;
}

.trainers .arrow-right::after {
    position: absolute;
    top: 33px;
    left: 4px;
    display: block;
    width: 25px;
    height: 1px;
    content: '';
    -webkit-transform: rotate(136deg);
            transform: rotate(136deg);
    background: #00bff0;
}

.carousel-control {
    box-shadow: none;
}

.trainers-img {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 50%;
    background: #00bff0;
}

.trainers-img img {
    width: 100%;
    max-width: 80px;
    max-height: 80px;
    border-radius: 50%;
}

.trainers-item h6 {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 0;
    text-transform: uppercase;
    color: #72d0f4;
}

.trainers-item .italic {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    color: #72d0f4;
}

.trainers-item span {
    display: block;
    margin-top: -5px;
}

.trainers-item p,
.trainers-item span {
    color: #000;
}

.trainers-item p.italic {
    line-height: 18px;
    text-transform: none;
    color: #606060;
}

.social-btn-left {
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: .7;
}

.social-btn-right {
    position: absolute;
    right: 5px;
    bottom: 0;
    color: #72d0f4;
}

.carousel-control.left,
.carousel-control.right {
    background: none;
}

.events-wrapper {
    position: relative;
    padding: 8px 30px 18px 30px;
    background: #a5e5fe;
}

.events-wrapper::before {
    position: absolute;
    top: 50%;
    left: 37px;
    display: block;
    width: 280px;
    height: 1px;
    content: '';
    background: #d1f2fe;
}

.events-block {
    padding-top: 4px;
    padding-bottom: 14px;
}

.events-block:last-child {
    padding-bottom: 0;
}

.events-left {
    float: left;
}

.events-left span {
    text-transform: uppercase;
}

.events-img {
    width: 120px;
    height: 70px;
    background: #b7b7b7;
}

.events-img img {
    width: 100%;
    max-width: 120px;
    max-height: 70px;
}

.events-right {
    float: right;
    width: 160px;
    text-align: center;
}

.events-right span {
    font-size: 10px;
    font-weight: 700;
    line-height: 10px;
    color: #fe0000;
}

.events-right h5 {
    font-size: 18px;
    line-height: 18px;
    margin: 0;
    text-transform: uppercase;
    color: #292929;
}

.events-right p {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 3px;
    color: #252525;
}

.events-right a {
    font-size: 10px;
    font-weight: 700;
    line-height: 10px;
    display: block;
    max-width: 84px;
    margin: 0 auto;
    padding: 5px 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: #f00;
    border: 1px solid #000;
    border-radius: 2px;
}

.events-right a:hover {
    color: #000;
}

.blog-wrapper {
    padding: 9px 20px;
    background: #d4d6d6;
}

.blog-block {
    padding-bottom: 8px;
}

.blog-block:last-child {
    padding-bottom: 0;
}

.blog-left {
    float: left;
}

.blog-right {
    float: right;
    width: 240px;
}

.blog-right a {
    text-decoration: none;
}

.blog-right p {
    font-size: 13px;
    line-height: 19.5px;
    margin-top: 3px;
    margin-bottom: 0;
    color: #fff;
}

.blog-right span {
    font-size: 13px;
    color: #000;
}

.blog-img {
    width: 70px;
    height: 70px;
    border-radius: 5px;
    background: #b7b7b7;
}

.blog-img img {
    width: 100%;
    max-width: 70px;
    max-height: 70px;
    border-radius: 5px;
}

.gallery-partner {
    padding-bottom: 115px;
}

.gallery-partner h2 {
    margin-bottom: 10px;
}

.carousel-inner {
    margin: 0 auto;
}

.gallery .item {
    font-size: 0;
    line-height: 0;
    max-width: 780px;
    margin: 0 auto;
}

.gallery .item-inner {
    display: inline-block;
    width: 32.7%;
    padding-right: 2px;
    padding-bottom: 2px;
}

.gallery .item-inner img {
    width: 100%;
    max-width: 255px;
    max-height: 170px;
}

.gallery .arrow-left,
.gallery .arrow-right {
    position: absolute;
    width: 60px;
    height: 60px;
    opacity: .8;
    border-radius: 50%;
    background: #fff;
}

.arrow-left {
    top: 41%;
    left: 15px;
}

.arrow-right {
    top: 41%;
    right: 15px;
}

.arrow-left::before {
    position: absolute;
    top: 21px;
    left: 16px;
    display: block;
    width: 25px;
    height: 1px;
    content: '';
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    background: #00bff0;
}

.arrow-left::after {
    position: absolute;
    top: 38px;
    left: 16px;
    display: block;
    width: 25px;
    height: 1px;
    content: '';
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    background: #00bff0;
}

.arrow-right::before {
    position: absolute;
    top: 21px;
    left: 20px;
    display: block;
    width: 25px;
    height: 1px;
    content: '';
    -webkit-transform: rotate(-136deg);
            transform: rotate(-136deg);
    background: #00bff0;
}

.arrow-right::after {
    position: absolute;
    top: 38px;
    left: 20px;
    display: block;
    width: 25px;
    height: 1px;
    content: '';
    -webkit-transform: rotate(136deg);
            transform: rotate(136deg);
    background: #00bff0;
}

.item-inner img {
    max-width: 100%;
}

.partner-item {
    display: inline-block;
    margin-top: 20px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.partner-item:nth-child(3),
.partner-item:nth-child(6) {
    margin-right: 0;
}

.map {
    z-index: 1;
    overflow: hidden;
    min-height: 500px;
    color: #fff;
    background: url('../img/map.jpg') no-repeat center;
}

#map {
    z-index: 5;
    width: 100%;
    height: 500px;
}

.map .container {
    position: relative;
}

.map-table {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    max-width: 370px;
    min-height: 500px;
    padding-right: 21px;
    padding-left: 28px;
    opacity: .7;
    background: #85cfeb;
}

.map-table table {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    width: 320px;
    margin-bottom: 26px;
    text-transform: none;
    background: none;
}

.map-table caption {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px;
    font-weight: 300;
    line-height: 48px;
    padding-top: 19px;
    padding-bottom: 0;
    text-align: center;
    color: #fff;
}

.map-table caption b {
    font-family: 'Open Sans Semi', sans-serif;
    font-size: 30px;
    font-weight: 500;
}

.map-table tr {
    height: 42px;
    padding: 16px 0 0 0;
    border-bottom: 1px solid #fff;
}

.map-table tr:first-child {
    padding-top: 0;
}

.map-table tr:last-child {
    margin-bottom: 20px;
}

.map-table td {
    width: 160px;
    padding: 0;
}

.map-table td i {
    margin-right: 12px;
}

.map-table tr td:nth-child(2) {
    text-align: right;
}

.map-table p {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 12px;
    text-align: center;
}

.map-table h4 {
    font-size: 30px;
    font-weight: 500;
    font-style: italic;
    line-height: 20px;
    text-align: center;
}

.twitter-block {
    padding: 128px 0 108px 0;
}

.twitter-block p {
    font-size: 14px;
    line-height: 22px;
    margin-top: 5px;
    margin-bottom: 0;
    margin-left: 30px;
    color: #00bff0;
}

.twitter-block i {
    font-size: 78px;
    line-height: 56px;
    color: #72d0f4;
}

.twitter-date {
    color: #0056a4;
}


/*
------------------------------------
            Footer
------------------------------------
*/

.footer-main {
    min-height: 300px;
    color: #fff;
}

.footer-upper {
    padding: 53px 0 29px 0;
    background: #72d0f4;
}

.signup {
    padding-left: 9px;
}

.signup h4 {
    font-size: 18px;
    font-weight: 300;
    line-height: 21px;
    margin-top: 0;
    margin-bottom: 23px;
    text-transform: uppercase;
}

.signup p {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.signup input[type='email'] {
    box-sizing: border-box;
    width: 337px;
    height: 38px;
    margin-bottom: 15px;
    padding: 10px 24px;
    color: #00afec;
    border: 1px solid #39bff0;
    outline: none;
    background: #b9e8fa;
}

.signup button {
    font-size: 12px;
    line-height: 21px;
    position: relative;
    width: 212px;
    height: 36px;
    padding-left: 20px;
    text-align: left;
    text-transform: uppercase;
    color: #fff;
    border: none;
    outline: none;
    background: #e25050;
}

.signup button::before {
    position: absolute;
    top: 15px;
    right: 23px;
    display: block;
    width: 9px;
    height: 1px;
    content: '';
    -webkit-transform: rotate(43deg);
            transform: rotate(43deg);
    background: #fff;
}

.signup button::after {
    position: absolute;
    top: 21px;
    right: 23px;
    display: block;
    width: 9px;
    height: 1px;
    content: '';
    -webkit-transform: rotate(133deg);
            transform: rotate(133deg);
    background: #fff;
}

.signup input::-webkit-input-placeholder {
    font-size: 12px;
    text-transform: uppercase;
    color: #00afec;
}

.signup input::-moz-placeholder {
    font-size: 12px;
    text-transform: uppercase;
    color: #00afec;
}

.footer-descr {
    font-size: 13px;
    line-height: 23.4px;
}

.footer-descr b {
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
    line-height: 36px;
}

.footer-descr p {
    margin-bottom: 16px;
    letter-spacing: .1px;
}

.footer-logo {
    width: 128px;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
}

p.footer-contacts {
    margin-bottom: 5px;
}


/* Firefox 19+ */

.signup input:-moz-placeholder {
    font-size: 12px;
    text-transform: uppercase;
    color: #00afec;
}


/* Firefox 18- */

.signup input:-ms-input-placeholder {
    font-size: 12px;
    text-transform: uppercase;
    color: #00afec;
}

.footer-menu h5 {
    font-size: 18px;
    font-weight: 300;
    line-height: 21px;
    margin-top: 0;
    margin-bottom: 22px;
    text-transform: uppercase;
}

.footer-menu ul {
    margin: 0;
    padding: 0;
}

.footer-menu li {
    font-size: 13px;
    line-height: 23.4px;
    position: relative;
    padding-left: 20px;
    list-style-type: none;
}

.footer-menu li::before {
    font-family: fontawesome;
    position: absolute;
    left: 5px;
    content: '\f105';
}

.footer-menu a {
    text-decoration: none;
    color: #fff;
}

.footer-sub {
    box-sizing: border-box;
    min-height: 50px;
    padding: 11px 0 9px 0;
    background: #00bff0;
}

.copyright {
    font-size: 12px;
    line-height: 21.6px;
}

.copyright p {
    margin-top: 5px;
    margin-bottom: 0;
}